{% extends 'base.html.twig' %}

{% block title %}Joueur{% endblock %}

{% block body %}
    <h1>Joueur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ joueur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ joueur.nom }}</td>
            </tr>
            <tr>
                <th>DateEntree</th>
                <td>{{ joueur.dateEntree ? joueur.dateEntree|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateNaissance</th>
                <td>{{ joueur.dateNaissance ? joueur.dateNaissance|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('joueur_index') }}">back to list</a>

    <a href="{{ path('joueur_edit', {'id': joueur.id}) }}">edit</a>

    {{ include('joueur/_delete_form.html.twig') }}
{% endblock %}
